.noise-settings-wrap {
    padding: var(--paddingSm);
    overflow-y: auto;
    max-height: 100svh;
    overflow-x: clip;
    section {
        padding: var(--paddingSm);
        margin: var(--marginSm);
        border: 2px dashed var(--colorUi);
    }
}

@media screen and (max-width: 1155px) {
    .noise-settings-wrap {
        max-height: unset;
        background-color: #444;
    }
}
