<div class="noise-layer">
  <h3>{{ config.title }}</h3>

  <div class="checkbox-wrap">
    <app-checkbox [config]="enabledCheckbox" (onValueChange)="onInputChange($event)"></app-checkbox>
    <app-checkbox [config]="invertCheckbox" (onValueChange)="onInputChange($event)"></app-checkbox>
  </div>

  <app-slider [config]="scaleSlider" (onValueChange)="onInputChange($event)"></app-slider>

  @if (config.noiseType === 'voronoi') {
    <app-slider [config]="angleOffsetSlider" (onValueChange)="onInputChange($event)"></app-slider>
  }
  <app-slider [config]="powerSlider" (onValueChange)="onInputChange($event)"></app-slider>
  <app-slider [config]="distortionSlider" (onValueChange)="onInputChange($event)"></app-slider>

  <app-dropdown [config]="noiseTypeDropdown" (onValueChange)="onInputChange($event)"></app-dropdown>
</div>
