<div class="settings" [class.loading]="canvasLoading$ | async">
  <app-button
    class="toggler"
    [config]="menuOpen ? openButton : closeButton"
    (onClicked)="menuOpen = !menuOpen"
  ></app-button>

  <div class="settings-wrap" [class.open]="menuOpen">
    <div class="main-settings">
      <section>
        <h2>Main settings</h2>
        <app-main-settings></app-main-settings>
      </section>
      <section>
        <h2>Texture settings</h2>
        <app-texture-settings></app-texture-settings>

        <div class="btn-wrap">
          <app-button
            class="export-btn"
            [config]="exportBtn"
            (onClicked)="onExport()"
          ></app-button>
          <app-button
            class="preview-btn"
            [config]="previewBtn"
            (onClicked)="onPreview()"
          ></app-button>
        </div>
      </section>
    </div>
    <app-noise-settings class="noise-settings"></app-noise-settings>
  </div>
  <app-canvas></app-canvas>
</div>

<app-dialog
  [open]="previewOpen"
  [label]="'Preview'"
  [size]="DialogSize.LARGE"
  (onClosed)="previewOpen = false"
>
  <app-volume-preview [open]="previewOpen"></app-volume-preview>
</app-dialog>
