@if (config) {

  <label [for]="config.id">{{ config.label }}</label>
  <div class="slider-wrap">
    <button
      class="slider-reset"
      type="button"
      (click)="onResetSlider()"
      title="Reset slider"
    >
      <fa-icon [icon]="resetIcon"></fa-icon>
    </button>
    <div class="slider-progress" [style.width]="progressWidth"></div>
    <input
      #sliderElement
      [id]="config.id"
      [min]="config.minValue"
      [max]="config.maxValue"
      [attr.value]="config.value"
      [step]="config.step"
      [style.width]="width"
      type="range"
      (input)="onInput($event)"
    />
    @if (!showInputField) {
      <p class="slider-value" (dblclick)="onShowInputField()">{{ getSliderValue().toFixed(2) }}</p>
    } @else  {
      <input 
         class="slider-value-input" 
         #inputElement
         value="{{this.config.value.toFixed(2)}}"
         (dblclick)="submitInputField($event)"
         (keydown.enter)="submitInputField($event)"/>
    }
  </div>

}
