<div class="settings" [class.loading]="canvasLoading$ | async">
  <app-button
    class="toggler"
    [config]="menuOpen ? openButton : closeButton"
    (onClicked)="menuOpen = !menuOpen"
  ></app-button>

  <div class="settings-wrap" [class.open]="menuOpen">
    <div class="main-settings">
      <section>
        <h2>Normal map settings</h2>

        <app-normal-map-settings></app-normal-map-settings>
      </section>
      <section>
        <h2>Texture settings</h2>

        <app-texture-settings></app-texture-settings>

        <div class="btn-wrap">
          <app-button
            class="export-btn"
            [config]="exportPngBtn"
            (onClicked)="onExportPng()"
          ></app-button>
          <app-button
            class="preview-btn"
            [config]="previewBtn"
            (onClicked)="onPreview()"
          ></app-button>
        </div>
      </section>
    </div>
  </div>
  <div class="canvas-wrap">
    <app-canvas [canvasService]="canvasService"></app-canvas>
    @if (showHint$|async) {
      <p class="canvas-hint">Drop image here</p>
    }
  </div>
</div>
