.settings {
    .canvas-wrap {
        position: relative;
        .canvas-hint {
            position: absolute;
            background-color: var(--colorUiBackground);
            inset: 0;
            margin: auto;
            width: fit-content;
            height: fit-content;
            padding: var(--paddingSm);
            font-size: var(--fontSizeXl);
            cursor: grab;
            z-index: 1;
        }
    }
}
